{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="col-xs-12">
            <img src="{{ asset('images/lyon_home.jpg') }}" id="lyon-img"/>
        </div>
    </div>
{% endblock %}